@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #F8FAFC;
}

.autocomplete {
    background-color: #ffffff;
}

.autocomplete-input {
    background-color: #ffffff;
    border: 3px solid #E2E8F0;
}